<!DOCTYPE html>
<html>
<head>

	<title> gucci selected collection </title>
	
	<link rel="stylesheet" type="text/css" href="style.css">

	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;0,9..40,600;0,9..40,900;0,9..40,1000;1,9..40,400;1,9..40,500&display=swap" rel="stylesheet">

</head>
<body>
	<div class="outer">
		<div class="page">
			<div class="col">
				<div class="sidebar">
					<img src="img/stripejacket.png" alt-text="leather jacket"/>
					<span class="section"> STRIPED LEATHER BIKER JACKET</span></br>
					Gucci's biker jacket is straight from the house's Spring '23 runway, where it was styled with a mini skirt and knee-high socks. Made from supple leather, it's adorned with brass zippers, quilted panels and the brand's iconic 'GG' logo in plush lettering.
				</div>

				<div class="sidebar">
					<img src="img/swanshirt.png" alt-text="red sweater"/>
					<span class="section">PRINTED BONDED COTTON-JERSEY SWEATSHIRT
					</span></br>
					Gucci's soft sweatshirt is patterned with the house's signature heron print. This relaxed-fit piece has metallic blue and red striped trims - a nod to the label's heritage webbing.
				</div>

				<div class="sidebar">
					<img src="img/jacket.png"alt-text="tweed jacket"/>
					<span class="section">FRAYED PADDED GINGHAM COTTON-BLEND TWEED BOMBER JACKET</span></br>
					Gucci's take on traditional tweed feels super fresh. Modeled on sporty bomber styles, this jacket is lightly padded and has frayed trims. The gold-tone buttons are engraved with the Maison's iconic 'GG'.
				</div>

				<div class="sidebar">
					<img src="img/redshoe.png" alt-text="red heel"/>
					<span class="section">BABY BUCKLE HORSEBIT ANKLE-STRAP SANDALS
					</span></br>
					Elevate your footwear collection with the Gucci Red Buckle Shoe, a symbol of unparalleled elegance. Crafted from luxurious red leather and adorned with an iconic silver Gucci buckle, these shoes epitomize the perfect blend of fashion-forward design and timeless sophistication, ensuring you step out in style with every wear.
				</div>

				<div class="sidebar">
					<img src="img/blackbag.png" alt-text="black bag"/>
					<span class="section">JACKIE 1961 SEQUIN MINI BAG
					</span></br>
					Once again at the forefront, the Jackie 1961's recognizable shape is enhanced with an additional, detachable shoulder strap. Attached to the bag with a buckle closure, the second strap adds a contemporary feel to the archival style, providing new ways to wear—from top handle, to shoulder and cross body. The style is introduced in black and white silk satin with sequins for the latest collection.
				</div>

				<div class="sidebar">
					<img src="img/redshirt.png" alt-text="red blouse"/>
					<span class="section">SQUARE GG WOOL JACQUARD KNIT TOP
					</span></br>
					Essential pieces in the Pre-Fall 2023 collection are embellished with signature Gucci motifs for the wardrobe. Here, the House's monogram motif is presented across a wool jacquard, creating an unexpected contrast when teamed with the romantic self-tie neck bow and lightly puffed sleeves.
				</div>



</body>
</html>

