body{
	margin:0;
	padding: 0;
	background-color: whitesmoke;
	font-size: 40px;
	font-family: sans-serif;
}

*{
	box-sizing: border-box;
	margin:0;
}

.outer{
	text-align: center;
}

.page{
	position: relative;
	margin-top: 0px;
	background-color: whitesmoke;
	max-width: 1000px;
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: left;
	height: 99vh;
}

.col{
	background-color: white;
	opacity: 1;
}

.sidebar{
	overflow: hidden;
	margin-bottom: 20px;
	border: .5px solid;
	text-align: left;
	font-size: 20px;
	padding: 30px;
	color: black;
	font-family: 'DM Sans', sans-serif;


}

.sidebar .section{
	color: darkred;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 40px;
	display: block;
	margin-bottom: 0px;
}

img{
	height: 15%;
	width: 15%;
	margin-top: 20px;
	cursor: pointer;
}

.sidebar img{
	float: right;
	cursor: pointer;
}

.sidebar img:hover{
	animation-fill-mode: forwards;
	animation-name: changescale;
	animation-duration: .5s;
	animation-timing-function: ease-out;
	cursor: pointer;
}

@keyframes changescale{
	from{cursor:pointer;transform: scale(1,1);}
	to{cursor:pointer;transform: translate(-20px,0px)scale(1.5,1.5);}
}
