body{	
	font-family: 'DM Sans', sans-serif;
	font-size: 28px;
	background-color: #FFF;
	margin: 0;
	padding: 0;
	font-weight:400;
}

.outer{
	text-align: center;
}

.page{
	position:relative;
	margin-top:10px;
	background-color:white;
	display:inline-block;
	max-width: 1200px;
	width:100%;
	height:100%;
	*text-align: left;
	border:2px solid;
	height: 98vh;
}

.collection{
	text-align:center;
	height: 200px;
	margin-top:100px;}

.collection:hover{
	color:darkred;
	cursor: pointer;}

.topofpage{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/*align-items: right;*/
	justify-content: flex-start;
	height: 300px;
	background-color: whitesmoke;
	align-content: center;
}

.contact{
	font-size: 12px;
	flex-wrap: nowrap;
	align-content: left;
	max-width: 160px;
	text-align: left;
	padding: 20px}

.contact:hover{
	animation-fill-mode: forwards;
	animation-name: changescale;
	animation-duration: .5s;
	animation-timing-function: ease-out;
	cursor: pointer;}

@keyframes changescale{
	from{cursor:pointer;transform: scale(1,1);}
	to{cursor:pointer;transform:scale(1.5,1.5);}}

.search{align-content: flex-end;}

.navbar{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	alignt-content:right;
}

.nav{
	font-size: 16px;
	margin-top: 20px;
	margin-right: 5px;
	align-content: flex-end;
	max-width: 30px;
}

.nav-img{
	width: 50%;
}

.navright{
	/*margin-left: auto;*/
}

.navhere{
	color:#934445;}

.logo{
	flex-grow:1;
	text-align:center;
	max-width:920px;
	margin-top:50px;
	margin-right:10px;}

.logo-img{
	width: 100%;
	align-content: center;}

.small-logo{
	flex-grow: 1;
	text-align: center;
	max-width: 920px;
	margin-top: 20px;
	margin-right: 10px;
}

.small-logo-img{
	width: 20%;
}

.icons img{
	width: 20%;
	height: 20%;
}

.icons img:hover{
	animation-fill-mode: forwards;
	animation-name: changescale;
	animation-duration: .5s;
	animation-timing-function: ease-out;
	cursor: pointer;}

@keyframes changescale{
	from{cursor:pointer;transform: scale(1,1);}
	to{cursor:pointer;transform:scale(1.5,1.5);}}

.menu{
	display: none;

}

#menu img{
	width: 80px;
	cursor: pointer;
}

#menuoverlay{
	position: absolute;
	top: 0px;
	background-color: whitesmoke;
	width: 100%;
	height: 98vh;
	display: none;
	text-align: center;
	font-family:'DM Sans', sans-serif;
}

a{
	text-decoration: none;
	color: black;
	font-family: 'DM Sans', sans-serif;}

a:hover{
	color:3e0e0f;
	font-family: 'DM Sans', sans-serif;}

a:active{
	color: #934445;
	font-family: 'DM Sans', sans-serif;}

a:visited{
	color: #934445;
	font-family: 'DM Sans', sans-serif;}

@media screen and (max-width: 850px){

	body{
		background-color: white;
	}
	.page{
		max-width: 480px;
	}
	.menu{
		display: inline-block;
	}

	.menu img{
		width: 50px;
		padding: 20px;
	}
	.navbar{
		display: none;
	}
	.logo{
		display: none;
	}
}

@media screen and (min-width: 850px) and (max-width: 1250px){

	body{
		background-color: white;
	}
	.page{
		max-width: 800px;
	}
}

@media screen and (min-width:1450px){

	body{
		background-color: white;
	}
	.page{
		max-width: 1400px;
	}
}